body { 
    background: url(images/COWABUNGA_Surf-App-Landing-Page-bg\ image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

a {
    color: white;
}

/* p {
    color: black;
    font-size: 18px;
    font-weight: bold;
} */

  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
    margin: auto;
    padding: 0;
}

.navbar {
    background-color: #0cc4fb;
    margin: auto;
    text-align: center;

}

.nav {
    margin: auto;
    
}

.nav-item {
    margin-left: 50px;
    margin-right: 50px;
  }

.jumbotron {
    background: none;
    border: none;
}

.card-img, .card-img-top {
    border: none;
    height: 200px;
}

/* .footer {
    position: ;
    clear: both;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 12px;
} */

.row {
    color: white;
    text-align: center;
}

.row1 {
    background-color: rgb(28, 94, 94);
    font-family:"avalanche";
    font-size: 48px;
    text-align: center;
    color: white;
    width: 100%;

}

.row2 {
    padding-bottom: 15px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.font-style {
    font-size: 24px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic; 
}

.bg-light {
   opacity: 70%;
}

#box {
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    height: 100%;
    border-radius: unset;
    padding: 0;
}

#searchbar {
    text-align: center;
    display: inline-block;
    width: 50%;
}

#searchbutton {
    background-image: url("images/surferdude.png");
    background-size: 50px;
    padding: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    
}
