body {
  overflow: hidden;
}

h2 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  padding-top: 50px;
}

h3 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 30px;
  padding-left: 30px;
}

h5 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  
  padding-left: 30px;
}

.col-4,
.col-8 {
  padding: 0 !important;
}

.col-8 {
  color: white;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.col-4 {
  height: 70vh;
  background-size: cover;
}

.col-7 {
  height: 50vh;
  background-image: url("./images/beach-maui.jpg");
  background-color:rgba(0, 0, 0, 0.5);
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.col-5 {
  height: 50vh;
  background-image: url("./images/COWABUNGA_Surf-App-Results-Page_03.jpg");
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.col-12 {
  height: 30vh;
  background-image: url("./images/COWABUNGA_Surf-App-Results-Page_04.jpg");
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  padding-left: 100px;
}

.row {
  margin: 0 !important;
}

.hoverGrow {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}

.hoverGrow:hover {
  box-shadow: 5px 8px 4px darkcyan;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 200;
}

.backgroundPicture {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 640px) {

  .col-4 {
    max-width: 100% !important;
    height: 50%;
    flex: none !important;
  }

  .col-8 {
    max-width: 100% !important;
    margin: 0;
    
  }

  .col-5 {
    max-width: 50% !important;
    flex: none !important;
  }

  .col-7 {
    max-width: 50% !important;
    flex: none !important;
  
  }


}

@media screen and (max-width: 768px) {

  .col-4 {
    max-width: 100% !important;
    height: 50%;
    flex: none !important;
  }
  
  .col-8 {
    max-width: 100% !important;
    flex: none !important;
  }




}